* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  list-style: none;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: #FFF;
}

img {
  max-width: 100%;
}

.page__content {
  padding: 80px 0 0 0;
  &.darker {
    background: #fafafa;
  }
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 10px;
  display: block;
  position: relative;
  margin: 0 auto;
  height: 100%;
}
